@charset "UTF-8"

$cor1 = #FFF
$cor2 = #000
$cor3 = #00F
$cor4 = #900

@import 'stick/function'
@import 'stick/mixin'

@import 'ui/burger'

html, body
  margin 0
  padding 0

html
  monospace()
  min-height 100%

  color gray
  background-color white

body
  position relative
  padding-top 60px
  &.open
    overflow hidden

// https://github.com/google/web-starter-kit/blob/master/app/styles/main.scss#L129
.promote-layer
  backface-visibility hidden

.bar
  position fixed
  top 0
  left 0
  display block
  width 100%
  background-color $cor4
  overflow hidden
  z-index 1
  &.open
  &.open ~ main
    transform translate(250px, 0)

.bar__container
  width 100%
  height 60px
  position relative
  display flex
  flex-direction row
  margin 0 auto

.nav
  z-index 1
  position fixed
  top 0
  bottom 0
  width 250px
  height 100%
  background-color #3367D6
  color #fefefe
  transform translate(-250px, 0)
  overflow-y auto
  &.open
    transform translate(0, 0)

.bar
.nav
main
  transition transform 0.3s ease-out
